                     #warped {position: relative; display: block; width:844px; height:325px;}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped span{font-family:'ABeeZee';font-size:38px;font-weight:regular;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:
                     rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
                     width: 22px; height: 25px; left: 31.6px; top: 32.25px;}

                     #warped .w1 {-moz-transform: rotate(-5.91rad);-webkit-transform: rotate(-5.91rad);-o-transform:
                     rotate(-5.91rad);-ms-transform: rotate(-5.91rad); transform: rotate(-5.91rad);
                     width: 21px; height: 25px; left: 56.29px; top: 42.31px;}

                     #warped .w2 {-moz-transform: rotate(-5.94rad);-webkit-transform: rotate(-5.94rad);-o-transform:
                     rotate(-5.94rad);-ms-transform: rotate(-5.94rad); transform: rotate(-5.94rad);
                     width: 20px; height: 25px; left: 80.53px; top: 51.45px;}

                     #warped .w3 {-moz-transform: rotate(-5.98rad);-webkit-transform: rotate(-5.98rad);-o-transform:
                     rotate(-5.98rad);-ms-transform: rotate(-5.98rad); transform: rotate(-5.98rad);
                     width: 21px; height: 25px; left: 104.27px; top: 59.71px;}

                     #warped .w4 {-moz-transform: rotate(-6.04rad);-webkit-transform: rotate(-6.04rad);-o-transform:
                     rotate(-6.04rad);-ms-transform: rotate(-6.04rad); transform: rotate(-6.04rad);
                     width: 23px; height: 25px; left: 129.05px; top: 67.01px;}

                     #warped .w5 {-moz-transform: rotate(-6.09rad);-webkit-transform: rotate(-6.09rad);-o-transform:
                     rotate(-6.09rad);-ms-transform: rotate(-6.09rad); transform: rotate(-6.09rad);
                     width: 11px; height: 25px; left: 156.58px; top: 71.83px;}

                     #warped .w6 {-moz-transform: rotate(-6.15rad);-webkit-transform: rotate(-6.15rad);-o-transform:
                     rotate(-6.15rad);-ms-transform: rotate(-6.15rad); transform: rotate(-6.15rad);
                     width: 22px; height: 25px; left: 172.2px; top: 75.4px;}

                     #warped .w7 {-moz-transform: rotate(-6.21rad);-webkit-transform: rotate(-6.21rad);-o-transform:
                     rotate(-6.21rad);-ms-transform: rotate(-6.21rad); transform: rotate(-6.21rad);
                     width: 21px; height: 25px; left: 199.46px; top: 78.31px;}

                     #warped .w8 {-moz-transform: rotate(-6.27rad);-webkit-transform: rotate(-6.27rad);-o-transform:
                     rotate(-6.27rad);-ms-transform: rotate(-6.27rad); transform: rotate(-6.27rad);
                     width: 23px; height: 25px; left: 225.39px; top: 79.53px;}

                     #warped .w9 {-moz-transform: rotate(-6.32rad);-webkit-transform: rotate(-6.32rad);-o-transform:
                     rotate(-6.32rad);-ms-transform: rotate(-6.32rad); transform: rotate(-6.32rad);
                     width: 18px; height: 25px; left: 253.18px; top: 79.25px;}

                     #warped .w10 {-moz-transform: rotate(-6.36rad);-webkit-transform: rotate(-6.36rad);-o-transform:
                     rotate(-6.36rad);-ms-transform: rotate(-6.36rad); transform: rotate(-6.36rad);
                     width: 11px; height: 25px; left: 276.24px; top: 78.16px;}

                     #warped .w11 {-moz-transform: rotate(-6.4rad);-webkit-transform: rotate(-6.4rad);-o-transform:
                     rotate(-6.4rad);-ms-transform: rotate(-6.4rad); transform: rotate(-6.4rad);
                     width: 23px; height: 25px; left: 292.63px; top: 76.08px;}

                     #warped .w12 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
                     rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
                     width: 15px; height: 25px; left: 320.21px; top: 73px;}

                     #warped .w13 {-moz-transform: rotate(-6.47rad);-webkit-transform: rotate(-6.47rad);-o-transform:
                     rotate(-6.47rad);-ms-transform: rotate(-6.47rad); transform: rotate(-6.47rad);
                     width: 23px; height: 25px; left: 340px; top: 69.07px;}

                     #warped .w14 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
                     rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
                     width: 10px; height: 25px; left: 367.08px; top: 65.06px;}

                     #warped .w15 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
                     rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
                     width: 18px; height: 25px; left: 382.24px; top: 60.86px;}

                     #warped .w16 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 10px; height: 25px; left: 404.95px; top: 56.37px;}

                     #warped .w17 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
                     rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
                     width: 23px; height: 25px; left: 419.07px; top: 51px;}

                     #warped .w18 {-moz-transform: rotate(-6.56rad);-webkit-transform: rotate(-6.56rad);-o-transform:
                     rotate(-6.56rad);-ms-transform: rotate(-6.56rad); transform: rotate(-6.56rad);
                     width: 22px; height: 25px; left: 448.26px; top: 42.93px;}

                     #warped .w19 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 11px; height: 25px; left: 474.37px; top: 37.52px;}

                     #warped .w20 {-moz-transform: rotate(-6.48rad);-webkit-transform: rotate(-6.48rad);-o-transform:
                     rotate(-6.48rad);-ms-transform: rotate(-6.48rad); transform: rotate(-6.48rad);
                     width: 25px; height: 25px; left: 490.14px; top: 32.48px;}

                     #warped .w21 {-moz-transform: rotate(-6.42rad);-webkit-transform: rotate(-6.42rad);-o-transform:
                     rotate(-6.42rad);-ms-transform: rotate(-6.42rad); transform: rotate(-6.42rad);
                     width: 18px; height: 25px; left: 519.68px; top: 28.21px;}

                     #warped .w22 {-moz-transform: rotate(-6.34rad);-webkit-transform: rotate(-6.34rad);-o-transform:
                     rotate(-6.34rad);-ms-transform: rotate(-6.34rad); transform: rotate(-6.34rad);
                     width: 18px; height: 25px; left: 542.31px; top: 26.12px;}

                     #warped .w23 {-moz-transform: rotate(-6.24rad);-webkit-transform: rotate(-6.24rad);-o-transform:
                     rotate(-6.24rad);-ms-transform: rotate(-6.24rad); transform: rotate(-6.24rad);
                     width: 23px; height: 25px; left: 565.15px; top: 25.97px;}


                     #warped .w24 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
                     rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
                     width: 18px; height: 25px; left: 593.17px; top: 28.4px;}

                     #warped .w25 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
                     rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
                     width: 10px; height: 25px; left: 615.55px; top: 31.67px;}

                     #warped .w26 {-moz-transform: rotate(-6.05rad);-webkit-transform: rotate(-6.05rad);-o-transform:
                     rotate(-6.05rad);-ms-transform: rotate(-6.05rad); transform: rotate(-6.05rad);
                     width: 23px; height: 25px; left: 630.16px; top: 36.52px;}

                     #warped .w27 {-moz-transform: rotate(-6.04rad);-webkit-transform: rotate(-6.04rad);-o-transform:
                     rotate(-6.04rad);-ms-transform: rotate(-6.04rad); transform: rotate(-6.04rad);
                     width: 15px; height: 25px; left: 657.55px; top: 42.44px;}

                     #warped .w28 {-moz-transform: rotate(-6.06rad);-webkit-transform: rotate(-6.06rad);-o-transform:
                     rotate(-6.06rad);-ms-transform: rotate(-6.06rad); transform: rotate(-6.06rad);
                     width: 10px; height: 25px; left: 677.07px; top: 46.61px;}

                     #warped .w29 {-moz-transform: rotate(-6.09rad);-webkit-transform: rotate(-6.09rad);-o-transform:
                     rotate(-6.09rad);-ms-transform: rotate(-6.09rad); transform: rotate(-6.09rad);
                     width: 23px; height: 25px; left: 691.32px; top: 51.17px;}

                     #warped .w30 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
                     rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
                     width: 23px; height: 25px; left: 719.04px; top: 56.07px;}