django==1.4.2
paste
distribute>=0.6.28
MySQL-python>=1.2.3
south
django-cms
django-mptt
pil
django-bootstrap-toolkit
numpy>=1.6.2
scipy>=0.10.1
#-e git://github.com/divio/django-cms.git@2.3.4#egg=django-cms
