.warped {position: relative; display: block; width:745px; height:103px;}

.warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
    -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

.warped span{font-family:'ABeeZee';font-size:36px;font-weight:regular;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

.warped .w0 {-moz-transform: rotate(-5.95rad);-webkit-transform: rotate(-5.95rad);-o-transform:
    rotate(-5.95rad);-ms-transform: rotate(-5.95rad); transform: rotate(-5.95rad);
width: 11px; height: 23px; left: 1.75px; top: 4.44px;}

.warped .w1 {-moz-transform: rotate(-5.97rad);-webkit-transform: rotate(-5.97rad);-o-transform:
    rotate(-5.97rad);-ms-transform: rotate(-5.97rad); transform: rotate(-5.97rad);
width: 11px; height: 23px; left: 16.74px; top: 9.58px;}

.warped .w2 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:
    rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
20px; height: 23px; left: 30.83px; top: 15.39px;}

.warped .w3 {-moz-transform: rotate(-6.04rad);-webkit-transform: rotate(-6.04rad);-o-transform:
    rotate(-6.04rad);-ms-transform: rotate(-6.04rad); transform: rotate(-6.04rad);
width: 20px; height: 23px; left: 55.33px; top: 22.12px;}

.warped .w4 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
    rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
width: 19px; height: 23px; left: 79.92px; top: 27.76px;}

.warped .w5 {-moz-transform: rotate(-6.11rad);-webkit-transform: rotate(-6.11rad);-o-transform:
    rotate(-6.11rad);-ms-transform: rotate(-6.11rad); transform: rotate(-6.11rad);
width: 20px; height: 23px; left: 103.07px; top: 32.38px;}

.warped .w6 {-moz-transform: rotate(-6.15rad);-webkit-transform: rotate(-6.15rad);-o-transform:
    rotate(-6.15rad);-ms-transform: rotate(-6.15rad); transform: rotate(-6.15rad);
width: 21px; height: 23px; left: 127.99px; top: 36.38px;}

.warped .w7 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
    rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
width: 11px; height: 23px; left: 153.26px; top: 38.86px;}

.warped .w8 {-moz-transform: rotate(-6.21rad);-webkit-transform: rotate(-6.21rad);-o-transform:
    rotate(-6.21rad);-ms-transform: rotate(-6.21rad); transform: rotate(-6.21rad);
width: 20px; height: 23px; left: 169.61px; top: 40.78px;}

.warped .w9 {-moz-transform: rotate(-6.25rad);-webkit-transform: rotate(-6.25rad);-o-transform:
    rotate(-6.25rad);-ms-transform: rotate(-6.25rad); transform: rotate(-6.25rad);
width: 20px; height: 23px; left: 195.06px; top: 42.26px;}

.warped .w10 {-moz-transform: rotate(-6.28rad);-webkit-transform: rotate(-6.28rad);-o-transform:
    rotate(-6.28rad);-ms-transform: rotate(-6.28rad); transform: rotate(-6.28rad);
width: 22px; height: 23px; left: 219.4px; top: 42.82px;}

.warped .w11 {-moz-transform: rotate(-6.32rad);-webkit-transform: rotate(-6.32rad);-o-transform:
    rotate(-6.32rad);-ms-transform: rotate(-6.32rad); transform: rotate(-6.32rad);
width: 17px; height: 23px; left: 246.87px; top: 42.48px;}

.warped .w12 {-moz-transform: rotate(-6.35rad);-webkit-transform: rotate(-6.35rad);-o-transform:
    rotate(-6.35rad);-ms-transform: rotate(-6.35rad); transform: rotate(-6.35rad);
width: 11px; height: 23px; left: 268.04px; top: 41.67px;}

.warped .w13 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
    rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
width: 21px; height: 23px; left: 284.38px; top: 40.13px;}

.warped .w14 {-moz-transform: rotate(-6.41rad);-webkit-transform: rotate(-6.41rad);-o-transform:
    rotate(-6.41rad);-ms-transform: rotate(-6.41rad); transform: rotate(-6.41rad);
width: 14px; height: 23px; left: 310.59px; top: 37.76px;}

.warped .w15 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
    rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
width: 22px; height: 23px; left: 328.89px; top: 34.68px;}

.warped .w16 {-moz-transform: rotate(-6.48rad);-webkit-transform: rotate(-6.48rad);-o-transform:
    rotate(-6.48rad);-ms-transform: rotate(-6.48rad); transform: rotate(-6.48rad);
width: 9px; height: 23px; left: 355.64px; top: 31.18px;}

.warped .w17 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
    rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
width: 17px; height: 23px; left: 369.32px; top: 27.54px;}

.warped .w18 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
    rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
width: 9px; height: 23px; left: 390.62px; top: 23.31px;}

.warped .w19 {-moz-transform: rotate(-6.34rad);-webkit-transform: rotate(-6.34rad);-o-transform:
    rotate(-6.34rad);-ms-transform: rotate(-6.34rad); transform: rotate(-6.34rad);
width: 21px; height: 23px; left: 404.3px; top: 20.79px;}

.warped .w20 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
    rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
width: 21px; height: 23px; left: 430.69px; top: 19.91px;}

.warped .w21 {-moz-transform: rotate(-6.28rad);-webkit-transform: rotate(-6.28rad);-o-transform:
    rotate(-6.28rad);-ms-transform: rotate(-6.28rad); transform: rotate(-6.28rad);
width: 11px; height: 23px; left: 456.32px; top: 19.82px;}

.warped .w22 {-moz-transform: rotate(-6.26rad);-webkit-transform: rotate(-6.26rad);-o-transform:
    rotate(-6.26rad);-ms-transform: rotate(-6.26rad); transform: rotate(-6.26rad);
width: 24px; height: 23px; left: 472.65px; top: 20.24px;}

.warped .w23 {-moz-transform: rotate(-6.23rad);-webkit-transform: rotate(-6.23rad);-o-transform:
    rotate(-6.23rad);-ms-transform: rotate(-6.23rad); transform: rotate(-6.23rad);
width: 17px; height: 23px; left: 501.98px; top: 21.37px;}

.warped .w24 {-moz-transform: rotate(-6.21rad);-webkit-transform: rotate(-6.21rad);-o-transform:
    rotate(-6.21rad);-ms-transform: rotate(-6.21rad); transform: rotate(-6.21rad);
width: 17px; height: 23px; left: 523.19px; top: 22.81px;}

.warped .w25 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
    rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
width: 22px; height: 23px; left: 545.24px; top: 25.09px;}

.warped .w26 {-moz-transform: rotate(-6.15rad);-webkit-transform: rotate(-6.15rad);-o-transform:
    rotate(-6.15rad);-ms-transform: rotate(-6.15rad); transform: rotate(-6.15rad);
width: 17px; height: 23px; left: 572.16px; top: 28.09px;}

.warped .w27 {-moz-transform: rotate(-6.13rad);-webkit-transform: rotate(-6.13rad);-o-transform:
    rotate(-6.13rad);-ms-transform: rotate(-6.13rad); transform: rotate(-6.13rad);
width: 9px; height: 23px; left: 594.08px; top: 30.79px;}

.warped .w28 {-moz-transform: rotate(-6.1rad);-webkit-transform: rotate(-6.1rad);-o-transform:
    rotate(-6.1rad);-ms-transform: rotate(-6.1rad); transform: rotate(-6.1rad);
width: 22px; height: 23px; left: 608.14px; top: 34.47px;}

.warped .w29 {-moz-transform: rotate(-6.06rad);-webkit-transform: rotate(-6.06rad);-o-transform:
    rotate(-6.06rad);-ms-transform: rotate(-6.06rad); transform: rotate(-6.06rad);
width: 14px; height: 23px; left: 634.33px; top: 39.24px;}

.warped .w30 {-moz-transform: rotate(-6.03rad);-webkit-transform: rotate(-6.03rad);-o-transform:
    rotate(-6.03rad);-ms-transform: rotate(-6.03rad); transform: rotate(-6.03rad);
width: 9px; height: 23px; left: 652.86px; top: 43.27px;}

.warped .w31 {-moz-transform: rotate(-5.98rad);-webkit-transform: rotate(-5.98rad);-o-transform:
    rotate(-5.98rad);-ms-transform: rotate(-5.98rad); transform: rotate(-5.98rad);
width: 22px; height: 23px; left: 666.24px; top: 49.07px;}

.warped .w32 {-moz-transform: rotate(-5.91rad);-webkit-transform: rotate(-5.91rad);-o-transform:
    rotate(-5.91rad);-ms-transform: rotate(-5.91rad); transform: rotate(-5.91rad);
width: 21px; height: 23px; left: 691.54px; top: 57.82px;}

.warped .w33 {-moz-transform: rotate(-5.85rad);-webkit-transform: rotate(-5.85rad);-o-transform:
    rotate(-5.85rad);-ms-transform: rotate(-5.85rad); transform: rotate(-5.85rad);
width: 11px; height: 23px; left: 715.6px; top: 65.96px;}

.warped .w34 {-moz-transform: rotate(-5.79rad);-webkit-transform: rotate(-5.79rad);-o-transform:
    rotate(-5.79rad);-ms-transform: rotate(-5.79rad); transform: rotate(-5.79rad);
width: 11px; height: 23px; left: 730.09px; top: 73.23px;}

