<div id="map-canvas" style="width: 100%"></div>

<div class="controls" style="width: 100%">
    <div class="controls-header">
        <div id="controls-left">Map controls</div>
        <div id="controls-right"><a href="#member_modal" role="button btn-primary" class="btn" data-toggle="modal">Find member</a></div>
    </div>

    <div class="control-buttons">
        <div id="type-filter">
            <input type="checkbox" name="type" value="friends">&nbspMy friends</input><br />
            <input type="checkbox" name="type" value="members">&nbspAll members</input><br />
            <input type="checkbox" name="type" value="guides">&nbspPort Guides</input><br />
            <input type="checkbox" name="type" value="stations">&nbspCruising Stations</input>
        </div>
        <div id="time-filter">
            <input type="radio" name="time" value="current">&nbspLast known locations</input><br />
            <input type="radio" name="time" value="recent">&nbspRecently updated locations</input><br />
            <br />
            Centered on <div id="center"></div>
        </div>
        <div id="overview_map">
            <div id="overlayMap"></div>
        </div>
    </div>
    <div id="member_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="member_label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Members</h3>
        </div>
        <div class="modal-body">
            Search members: <input id="modal_search" type="text" class="memberTypeahead span6 search-query"></input>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <a href="#" id="modal_find" class="btn btn-primary">OK</a>
        </div>
    </div>
</div>

