{% load dajaxice_templatetags local_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% dajaxice_js_import %}
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %} SSCA {% endblock %}</title>

        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/stylesheet.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet" type="text/css">

        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=ABeeZee:regular:latin'>
        <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="{{ STATIC_URL }}assets/ico/favicon.png">

        <script src="{{ STATIC_URL }}assets/js/jquery.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-alert.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-tooltip.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-popover.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-button.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-carousel.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}js/load_page_splash.js"></script>
        <script src="{{ STATIC_URL }}js/page.js"></script>

        {% include "join_head.html" %}
        {% include "renew_head.html" %}
        {% include "login_head.html" %}

        {% block extra_js %}{% endblock %}    
        {% block extra_css %}{% endblock %}    
        <script type="text/javascript">
            $(document).ready(function() {
                $('#logoutTrigger').click(function(e) {
                    e.preventDefault();
                    window.location = $(this).attr('href');
                });

                $('#searchPublic').submit(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "{% url watson-search %}",
                        data: $(this).serialize(),
                        type: "POST",
                        success: function(result) {
                            // $('.homae-rig').html(result);
                            $(".homae-rig").fadeToggle(function () {
                                $(this).html(result);
                                $(this).fadeToggle();
                            });
                            $("#searchPublic")[0].reset();
                        }

                    });
                });

                $('.resultLink').live('click', function(e) {
                    e.preventDefault();
                    var div_title = document.createElement("div");
                    div_title.id = "page_title";
                    var div_content = document.createElement("div");
                    div_content.id = "page_content";
                    $('.homae-rig').html("");
                    $('.homae-rig').append(div_title);
                    $('.homae-rig').append(div_content);
                    Dajaxice.app_public.sscapage_ajax(load_page, {'page': this.getAttribute('href')});
                });
            });
        </script>

        {% endblock %}
        <style>
            /* overriding document style of bootstrap (docs.css) */
            body {
                position: relative;
                padding-top: 0px;
                background: #fff;
            }
            ul.nav li.dropdown:hover > ul.dropdown-menu{
                display: block;    
            }
            .hero-unit {
                box-shadow: 0 0 5px #aaaaaa;
            }

            /* search bar */
            .navbar-search {
                position: relative;
            }

            .navbar-search .search-query {
                padding-left: 29px;
            }

            .navbar-search .icon-search {
                position: absolute;
                top: 7px;
                left: 11px;
                background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div style="position: static;top: 10px;" class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container con-menu">
                        <a data-target=".navbar-inverse-collapse" data-toggle="collapse" class="btn btn-navbar collapsed"> 
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                        <div class="nav-collapse navbar-inverse-collapse collapse" style="height: 0px;">
                            {% include "main_menu.html" %}
                        </div>
                        {% if request.user.is_authenticated %}
                            <div style="float: right">
                                <ul class="nav">
                                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ request.user|get_full_name }}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">View Profile</a></li>
                                        <li><a href="#">Edit Profile</a></li>
                                        <li><a href="{% url logout %}" id="logoutTrigger">Logout</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <div>
                            <form class="pull-right form-inline" action="">
                                <button type="submit" class="btn btn-inverse" style="font-size:12px;" data-toggle="modal" href="#loginModal1">Log in</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>

            {% block header %}
                <!-- begin header row -->
                <div class="row-fluid">

                    <!-- begin logo column -->
                    <div class="span2"> 
                        <a href="#" class="thumbnail"><img src="{{ STATIC_URL }}images/ssca_logo.png" id="sscaLogo" alt=""></a> 
                    </div>
                    <!-- end logo column -->

                    <!-- begin ssca header img/search column -->
                    <div class="span8">

                        <!-- begin Seven Seas Cruising Association row -->
                        <div class="row-fluid">
                            <img src="{{ STATIC_URL }}images/header1.png" />
                        </div>
                        <!-- end Seven Seas Cruising Association row -->
                        <!-- begin search bar row -->
                        {% block search_bar %}
                        <div class="row-fluid" style="border: solid 0px red;">
                            <div class="span12 input-append" style="border: 0px solid black; height: 25px;">
                                <div style="border: 0px solid black; margin-top: 5px;">
                                    <form class="navbar-search pull-right" id="searchPublic">
                                        {% csrf_token %}
                                        <input type="text" class="search-query span12" placeholder="Search" style="background-color: white; border: 1px solid #ccc;" name="q" value="{{ request.GET.q }}">
                                        <div class="icon-search"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endblock %}
                        <!-- end search bar row -->

                    </div>
                    <!-- end ssca header img/search column -->

                    <!-- begin ssca flags column -->
                    <div class="span2" style="border: 0px solid black;vertical-align: bottom;"> 
                        <div class="row-fluid">
                            <a href="#" class="thumbnail"><img src="{{ STATIC_URL }}images/ssca_flags.jpg" width="150" height="101" alt="" id="sscaFlag"></a>
                        </div>
                    </div>
                    <!-- end ssca flags column -->

                </div>
                <!-- end header row -->
            {% endblock %}


            {% include "join_popups.html" %}
            {% include "renew_popups.html" %}

            {% include "login_popups.html" %}

            {% if error_type == "PersonDoesNotExist" %}
            <script>
                $("#loginModalNoRegistrationFound").modal('show');
            </script>
            {% endif %}

            {% if error_type == "AccountDoesNotExist" %}
            <script>
                $("#modalRegisterNoSubscription").modal('show');
            </script>
            {% endif %}

            {% if registration_action == "RegistrationComplete" %}
            <script>
                $("#modalRegisterOpenId").modal('show');
            </script>
            {% endif %}

            {% if registration_action == "RegistrationComplete_PersonDoesNotExist" %}
            <script>
                $("#modalRegisterPersonDoesNotExist").modal('show');
            </script>
            {% endif %}

            {% if registration_action == "RegistrationComplete_ActivationExpired" %}
            <script>
                $("#modalRegisterActivationExpired").modal('show');
            </script>
            {% endif %}

            <!-- test code -->
            <script>
            //$("#modalEmailSendForForgotPassword").modal('show');
            //$("#loginModalTransition").modal('show');
            </script>
            <!-- test code -->
            

            {% block content %} {% endblock %}    

            {% include "footer.html" %}

        </div>
    </body>
</html>

