{% block footer %}

{% block icons %}
<div class="row-fluid" style="border: solid 0px red;">
    <div class="span12" style="border: solid 0px blue; padding: 0px 38px;border-right: dashed 3px #C8C8C8; border-left: dashed 3px #C8C8C8;">
        <div class="ss-botto"> 
            <span class="ss-first"> 
                <a data-toggle="modal" href="#modalStep1"><img src="{{ STATIC_URL }}images/join_renew.png" alt="Join/Renew"  onmouseover="this.src='{{ STATIC_URL }}images/h_join_renew.png'" onmouseout="this.src='{{ STATIC_URL }}images/join_renew.png'"/></a> 
            </span> 
            <span class="ss-first"> 
                <a href="#"><img src="{{ STATIC_URL }}images/virtual_tour.png" alt="Virtual Tour" onmouseover="this.src='{{ STATIC_URL }}images/h_virtual_tour.png'" onmouseout="this.src='{{ STATIC_URL }}images/virtual_tour.png'"/></a> 
            </span> 
            <span class="ss-first"> 
                <a href="#"><img src="{{ STATIC_URL }}images/volunteer.png" alt="Volunteer"  onmouseover="this.src='{{ STATIC_URL }}images/h_volunteer.png'" onmouseout="this.src='{{ STATIC_URL }}images/volunteer.png'"/></a> 
            </span> 
            <span class="ss-first" style="border:none;">
                <a href="#"><img src="{{ STATIC_URL }}images/university.png" id="ss-university" alt="Seven Seas University"  onmouseover="this.src='{{ STATIC_URL }}images/h_university.png'" onmouseout="this.src='{{ STATIC_URL }}images/university.png'"/></a> 
            </span> 
        </div>
    </div>
</div>
{% endblock %}

{% block social_media %}
<!-- social buttons row starts -->
<div class="row-fluid" style="border: solid 0px blue;">
    <div class="social">
        <div class="social-left">
            <span class="social-icon" style="z-index: 999;"><a href="http://twitter.com"><img src="{{ STATIC_URL }}images/icon_twitter.png" alt=""  /></a>
            </span> 
            <span class="social-icon">
                <a href="http://facebook.com"><img src="{{ STATIC_URL }}images/icon_fb.png" style="z-index: 999;" alt=""  /></a>
            </span> 
            <span class="social-icon">
                <a href="#"><img src="{{ STATIC_URL }}images/icon_rss.png" style="z-index: 999;" alt=""  /></a>
            </span> 
        </div>

        <div style="border-bottom:dashed 3px #C8C8C8; width: 86%; top: 25px; position: relative; left: 99px;"></div>
        <div class="social-right"> 
            <span class="social-icons">
                <a href="#"><img src="{{ STATIC_URL }}images/icon_email.png" alt=""  /></a>
            </span> 
        </div>
    </div>
</div>
<!-- social buttons row ends -->
    {% endblock %}

    {% endblock %}
