{% block header %}
<div class="header">
    <div class="logo-left"> <a href="#" class="thumbnail"><img  src="/static/images/ssca_logo.png" alt="" width="130" height="130"></a> </div>
    <div class="logo" style="z-index:-9999;">
        <div class='warped'> 
            <span class='w0'>S</span>
            <span class='w1'>e</span>
            <span class='w2'>v</span>
            <span class='w3'>e</span>
            <span class='w4'>n</span>
            <span class='w5'></span>
            <span class='w6'>S</span>
            <span class='w7'>e</span>
            <span class='w8'>a</span>
            <span class='w9'>s</span>
            <span class='w10'> </span>
            <span class='w11'>C</span>
            <span class='w12'>r</span>
            <span class='w13'>u</span>
            <span class='w14'>i</span>
            <span class='w15'>s</span>
            <span class='w16'>i</span>
            <span class='w17'>n</span>
            <span class='w18'>g</span>
            <span class='w19'> </span>
            <span class='w20'>A</span>
            <span class='w21'>s</span>
            <span class='w22'>s</span>
            <span class='w23'>o</span>
            <span class='w24'>c</span>
            <span class='w25'>i</span>
            <span class='w26'>a</span>
            <span class='w27'>t</span>
            <span class='w28'>i</span>
            <span class='w29'>o</span>
            <span class='w30'>n</span>

            <div class="search-con">
                <form class="form-inline">
                    <div class="controls">
                        <div class="input-append">
                            <input class="span2" onBlur="onBlur(this)" value="Search" onFocus="onFocus(this)" type="text">
                            <button class="btn" type="button"><i class="icon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- warped -->
        <div class='warped' style="top: 30px;"> 
            <span class='w0'>-</span>
            <span class='w1'>-</span>
            <span class='w2'>-</span>
            <span class='w3'>-</span>
            <span class='w4'>-</span>
            <span class='w5'>-</span>
            <span class='w6'>-</span>
            <span class='w7'>-</span>
            <span class='w8'>-</span>
            <span class='w9'>-</span>
            <span class='w10'>-</span>
            <span class='w11'>-</span>
            <span class='w12'>-</span>
            <span class='w13'>-</span>
            <span class='w14'>-</span>
            <span class='w15'>-</span>
            <span class='w16'>-</span>
            <span class='w17'>-</span>
            <span class='w18'>-</span>
            <span class='w19'>-</span>
            <span class='w20'>-</span>
            <span class='w21'>-</span>
            <span class='w22'>-</span>
            <span class='w23'>-</span>
            <span class='w24'>-</span>
            <span class='w25'>-</span>
            <span class='w26'>-</span>
            <span class='w27'>-</span>
            <span class='w28'>-</span>
            <span class='w29'>-</span>
            <span class='w30'>-</span>
        </div>
    </div>
    <div class="logo-right"> <a href="#" class="thumbnail"><img  src="/static/images/ssca_flags.jpg" width="100" height="100" alt=""></a> </div>
</div>
{% endblock %}
