{% block header %}
<!-- begin header row -->
<div class="row-fluid" style="border: solid 0px blue;">

    <!-- begin logo column -->
    <div class="span2" style="border: 0px solid black;"> 
        <a href="#" class="thumbnail"><img  src="/static/images/ssca_logo.png" alt="" width="120" height="120"></a> 
    </div>
    <!-- end logo column -->

    <!-- begin ssca header img/search column -->
    <div class="span8" style="border: 0px solid black;">

        <!-- begin Seven Seas Cruising Association row -->
        <div class="row-fluid" style="border: solid 0px red;">
            <div class="span12" style="border: 0px solid black;vertical-align: top;">
                <img src="/static/images/header1.png" />
            </div>
        </div>
        <!-- end Seven Seas Cruising Association row -->

        <!-- begin search bar row -->
        <div class="row-fluid" style="border: solid 0px red;">
            <div class="span12 input-append" style="border: 0px solid black; height: 25px;">
                <div style="border: 0px solid black; margin-top: 20px;">
                    <form class="navbar-search pull-right">
                        <input type="text" class="search-query span12" placeholder="Search" style="background-color: white; border: 1px solid #ccc;">
                        <div class="icon-search"></div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end search bar row -->

    </div>
    <!-- end ssca header img/search column -->

    <!-- begin ssca flags column -->
    <div class="span2" style="border: 0px solid black;vertical-align: bottom;"> 
        <div class="row-fluid" style="border: solid 0px red;">
            <div class="span12 input-append" style="border: 0px solid black; height: 25px;">
            </div>
        </div>
        <div style="border: 0px solid black;">
            <a href="#" class="thumbnail"><img src="/static/images/ssca_flags.jpg" width="150" height="101" alt="" ></a>
        </div>
    </div>
    <!-- end ssca flags column -->

</div>
<!-- end header row -->
{% endblock %}
