{% extends "base.html" %}
{% block head %}
    
    <title>Join/Renew</title>   
    <link href="/static/bootstrap_toolkit/css/bootstrap.css" rel="stylesheet"> 
    <link href="/static/bootstrap_toolkit/css/docs.css" rel="stylesheet"> 
    <link href="/static/bootstrap_toolkit/css/datepicker.css" rel="stylesheet"> 
	
    <script src="/static/bootstrap_toolkit/js/jquery.js"></script>
    <script src="/static/bootstrap_toolkit/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap_toolkit/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap_toolkit/js/bootstrap-datepicker.js"></script>
    <script src="/static/admin/js/creditcard.js"></script>

    <script>		
        var yearlyTotal = {{ basic_mail_cost }};

        /* datepicker launcher */
        $(function(){		
            $('#dp3').datepicker();
        });

        function onMailLocationChange() {
            var mailLocation = $('#id_mail_location').find(":selected").text();

            var divSeconday = $('#div_chk_secondary');
            //hiding seconday checkbox
            if(mailLocation == "{{ form.loc_usa }}") {
                divSeconday.show();
            }
            else
            if(mailLocation == "{{ form.loc_canada }}") {
                divSeconday.hide();
                $("#spnSecondary").html("{{ form.send_first_class }}");
            }
            else
            if(mailLocation == "{{ form.loc_overseas }}") {
                divSeconday.show();
                $("#spnSecondary").html("{{ form.send_international }}");
            }

            updateYearlyTotal();
        }

        function bulletinClicked() {
            var chkSecondary = document.getElementById('chkSecondary');
            var cbBulletins = document.getElementById('cbBulletins');
            chkSecondary.checked = cbBulletins.checked;
            updateYearlyTotal();
        }

        function updateYearlyTotal() {		
            yearlyTotal = {{ basic_mail_cost }};

            var bulletinVal = parseInt($('#id_mail_location').val());
            var chkSecondary = document.getElementById('chkSecondary');
            var cbBulletins = document.getElementById('cbBulletins');

            $('#spnMailCostLabel').html(bulletinVal);

            if (cbBulletins.checked){
                yearlyTotal += bulletinVal;
            }

            if (chkSecondary.checked){
                var mailLocation = $('#id_mail_location').find(":selected").text();
                //for usa adding 5
                if(mailLocation == "{{ form.loc_usa }}") {
                    yearlyTotal += 5;
                }
                else
                //for overseas adding 5
                if(mailLocation == "{{ form.loc_overseas }}") {
                    yearlyTotal += 15;
                }
            }

            $('#spnYearlytotal').html(yearlyTotal);
        }

        function updateBurgeeTotal() {
            var chkPurchaseSSCABurgee = document.getElementById('chkPurchaseSSCABurgee');
            if(chkPurchaseSSCABurgee.checked) {
                $('#divBurgeeCostBotton').show();
            }
            else {
                $('#divBurgeeCostBotton').hide();
            }
            updateSSCAPurchase();
        }


        function updateSSCAPurchase(){
            var valueSelected = $('#id_burgee_type').val();
            var textSelected = $('#id_burgee_type option:selected').text();
            $('#spnBurgeeCost').html(valueSelected);
            $('#spnBurgeeCostBottom').html(valueSelected);

            if(textSelected.indexOf("Small") == 0 ) {
                $('#spnBurgeeSize').html("Small Burgee");
            }
            else
            if(textSelected.indexOf("Medium") == 0 ) {
                $('#spnBurgeeSize').html("Medium Burgee");
            }
            else
            if(textSelected.indexOf("Large") == 0 ) {
                $('#spnBurgeeSize').html("Large Burgee");
            }
        }

        function setTotalCostForBurgeeOnUnSelect(){
            var valueSelected = $('#id_burgee_type').val();
            var total = 80;
            $('#costTotal').text(total);
        }

        function setTotalCostForBurgee(){	    
            var valueSelected = $('#id_burgee_type').val();
            var total = parseInt(valueSelected, 10)+65;
            $('#costTotal').text(total);
        }

        function validateStep1() {

            if(!$("#id_firstname").val()) {
                alert("Please Enter Firstname");
                return false;
            }

            if(!$("#id_lastname").val()) {
                alert("Please Enter Lastname");
                return false;
            }

            if(!$("#id_email").val()) {
                alert("Please Enter Email");
                return false;
            }

            $("#a_step2").attr("href", "#modalStep2");
            $("#a_step2").attr("data-dismiss", "modal");
            $("#a_step2").attr("data-toggle", "modal");
            return true;
        }

        function validateStep2() {
            //placeholder for step 2 validation
            //todo - do valdaation later; if needed

            $("#a_step3").attr("href", "#modalStep3");
            $("#a_step3").attr("data-dismiss", "modal");
            $("#a_step3").attr("data-toggle", "modal");

            $('#spnYearlytotal1').html(yearlyTotal);

            updateBurgeeTotal();

            return true;
        }

        function validateStep3() {

            if(!$("#id_name_on_card").val()) {
                alert("Please Enter Name On Card");
                return false;
            }

            if(!$("#id_card_number").val()) {
                alert("Please Enter Card Number");
                return false;
            }

            if(!$("#id_card_csv").val()) {
                alert("Please Enter CSV");
                return false;
            }

            //checking card number and type
            var cardNum  = $('#id_card_number').val(); 
            var cardType = $('#id_card_type').val();
            if (! checkCreditCard(cardNum, cardType)) {
                alert(ccErrors[ccErrorNo]);
                return false;
            }

            return true;
        }


    </script>
{% endblock %}

{% block body %}
      <!-- Step 1 dialog begins -->
         <div id="modalStep1" class="modal hide fade">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Join SSCA</h3>
            </div>
            <div class="modal-body">
              <h4>Subscribe to SSCA (Step 1 to 3)</h4>
              <p>If you were a subscriber in the past and would like to renew, <a href = "/renew/">click here</a></p>
              <br>
		  <p>Joining SSCA is quick and easy. You'll be logged in within 5 minutes.</p>
		  <p>First, we need some basic information from you.</p>
            </div>
			
			
	   <form class="bs-docs-example form-horizontal">
            <div class="control-group">
              <label class="control-label" for="firstname" >First name: </label>
              <div class="controls">
                {{ form.firstname }}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="lastname">Last name: </label>
              <div class="controls">
                {{ form.lastname }}
              </div>
            </div>
			
            <div class="control-group">
              <label class="control-label" for="email">Email Address: </label>
              <div class="controls">
                {{ form.email }}
              </div>
            </div>
          </form>

           <div class="modal-footer">
               <a id="a_step2" href="return validateStep1();" class="btn btn-primary" onclick="return validateStep1();">Continue to Step 2</a>
            </div>
        </div>
         <div class="bs-docs-example" >
            <a data-toggle="modal" href="#modalStep1" class="btn btn-primary btn-large">JOIN/RENEW</a>
         </div>	  
      <!-- Step 1 dialog ends -->

      <!-- Step 2 dialog begins -->
      <div id="modalStep2" class="modal hide fade">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Join SSCA</h3>
          </div>
          <div class="modal-body">
              <h4>Subscribe to SSCA (Step 2 to 3)</h4>
              <p>SSCA publishes the monthly commodore's bulletin, which keeps you upto date on the latest cruising news and happenings.</p>
              <br>
              <p>You may chosse to have a paper copy delivered to you.</p>
              <br>
              <p>Membership fee: ${{ basic_mail_cost }} / year</p>
              <div class="control-group">
                  <form id="myform">
                      <div class="controls" style="float:left;">
                          <label class="checkbox">
                              <input type="checkbox" name="checkall" id="cbBulletins" onclick="bulletinClicked();"> Main bulletins to me &nbsp;&nbsp;&nbsp;
                          </label>
                      </div>

                      <div>
                          <table><tr>
                                  <td> {{ form.mail_location }} </td>
                                  <td>(Add $<span id="spnMailCostLabel">5</span>)</td>
                              </tr>
                          </table>
                      </div>
                      <div style="float:clear;">
                      </div>
                      <div class="control-group">
                          <div class="controls" id="div_chk_secondary">
                              <label class="checkbox">
                                  <input type="checkbox" id="chkSecondary" onclick="updateYearlyTotal();"> 
                                  <span id="spnSecondary">{{ form.send_first_class }}</span>
                              </label>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

          <hr>
          <table width="100%">
              <tr>
                  <td style="padding-left: 24px;padding-bottom: 24px;"> My Total: $<span id="spnYearlytotal">{{ basic_mail_cost }}</span>/year </td>			  
                  <td align="right" style="padding-right: 24px;padding-bottom: 24px;">
                      <a id="a_step3" href="return validateStep2();" class="btn btn-primary" onclick="return validateStep2();">Continue to Step 3</a>
                  </td>
              </tr>
          </table>

      </div>
      <!-- Step 2 dialog ends -->

      <!-- Step 3 dialog begins -->
      <div id="modalStep3" class="modal hide fade">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Join SSCA</h3>
          </div>
          <div class="modal-body">
              <h4>Subscribe to SSCA (Step 3 to 3)</h4>
              <p>Almost done. Decide whether you'd like to fly the SSCA burgee, <br>and provide your payment details to checkout.</p>
              <form name="firstForm">
                  <div class="control-group">
                      <div class="controls" style="float:left;">
                          <label class="checkbox">
                              <input type="checkbox" id="chkPurchaseSSCABurgee" onclick="updateBurgeeTotal();"> Purchase SSCA Burgee &nbsp;&nbsp;&nbsp;
                          </label>
                      </div>
                  </div>
                  <div>
                      <table><tr>
                              <td> {{ form.burgee_type }} </td>
                              <td>(Add $<span id="spnBurgeeCost">25</span>)</td>
                          </tr>
                      </table>
                  </div>
                  <div style="float:clear;">
                  </div>

                  <div class="control-group">

                      <div class="controls" style="float:left;" >
                          <label class="control-label" for="inputEmail">Name on card: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      </div>
                      <div class="controls">
                          {{ form.name_on_card }}
                      </div>

                      <div class="controls" style="float:clear;">
                      </div>
                      <div class="controls" style="float:left;">
                          <label class="control-label" for="inputEmail">Credit card type:</label> 
                      </div>

                      <div>
                          {{ form.card_type }}
                      </div>
                      <div style="float:clear;">
                      </div>
                      <div class="controls" style="float:left;">
                          <label class="control-label" for="inputEmail" >Credit card number: &nbsp;&nbsp;</label>
                      </div>
                      <div class="controls">
                          {{ form.card_number }}
                      </div>
                      <div style="float:clear;">
                      </div>
                  </form>
                  <form class="form-inline" name="secondForm">
                      <label class="control-label" for="inputEmail">Expiry date: &nbsp;&nbsp;</label>
                      <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                          <input class="span2" size="16" type="text" value="" readonly="" name="date">
                          <span class="add-on"><img src="/static/images/calendar.png" alt="calendar" class="icon-calendar" data-date-format="yyyy-mm-dd" data-date="2012-02-20"></span>
                      </div>

                      <label class="control-label" for="inputEmail">CSV: &nbsp;&nbsp;</label>
                          {{ form.card_csv }}
                  </form>
              </div>
              <div class="control-group">
                  <div class="controls" style="float:left;">
                      <p>My Total: $<span id="spnYearlytotal1">{{ basic_mail_cost }}</span>/year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                  </div>
                  <form name="thirdForm">
                      <div>
                          <label class="checkbox">
                              <input type="checkbox" name="chkRenewEveryYear" onclick="setTotalCostForBurgee();"> Automatically renew every year 
                          </label>
                      </div>
                      <div style="float:clear;">
                      </div>
                  </form>
                  <div id="divBurgeeCostBotton">
			$<span id="spnBurgeeCostBottom">25</span> (<span id="spnBurgeeSize"></span>)
		  </div>
              </div>
          </div>

          <hr>
          <table width="100%">
              <tr>
                  <td style="padding-left: 24px; padding-bottom: 24px;"> $80 </td>			  
                  <td align="right" style="padding-right: 24px;padding-bottom: 24px;">
                      <button class="btn btn-primary" onclick="validateStep3();">Pay and Login</button>
                  </td>
              </tr>
          </table>          
      </div>
      <!-- Step 3 dialog ends -->
{% endblock %}
