<!-- Step 1 dialog begins -->
<div id="modalStep1" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Join SSCA</h3>
    </div>
    <div class="modal-body">
        <h4>Subscribe to SSCA (Step 1 of 3)</h4>
        <p>If you were a subscriber in the past and would like to renew, 
            <a data-toggle="modal" href="#modalRenew" data-dismiss="modal" data-toggle="modal" style="color: #003399;">click here</a>
        </p>
        <br>
        <p>Joining SSCA is quick and easy. You'll be logged in within 5 minutes.</p>
        <p>First, we need some basic information from you.</p>
    </div>


    <form class="form-horizontal" id="step1-form">
        <div class="control-group">
            <label class="control-label" for="firstname" >First name: </label>
            <div class="controls">
                {{ form.firstname }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastname">Last name: </label>
            <div class="controls">
                {{ form.lastname }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email Address: </label>
            <div class="controls">
                {{ form.email }}
            </div>
        </div>
    </form>

    <div class="modal-footer">
        <a id="a_step2" href="return validateStep1();" class="btn btn-primary" onclick="return validateStep1();">Continue to Step 2</a>
    </div>
</div>
<!-- Step 1 dialog ends -->

<!-- Step 2 dialog begins -->
<div id="modalStep2" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Join SSCA</h3>
    </div>
    <div class="modal-body">
        <h4>Subscribe to SSCA (Step 2 of 3)</h4>
        <p>SSCA publishes the monthly commodore's bulletin, which keeps you upto date on the latest cruising news and happenings.</p>
        <br>
        <p>You may choose to have a paper copy delivered to you.</p>
        <br>
        <p>Membership fee: ${{ basic_mail_cost }} / year</p>
        <div class="control-group">
            <form id="myform">
                <div class="controls" style="float:left;">
                    <label class="checkbox">
                        <input type="checkbox" name="checkall" id="cbBulletins" onclick="bulletinClicked();"> Mail bulletins to me &nbsp;&nbsp;&nbsp;
                    </label>
                </div>

                <div>
                    <table><tr>
                            <td> {{ form.mail_location }} </td>
                            <td>(Add $<span id="spnMailCostLabel">5</span>)</td>
                        </tr>
                    </table>
                </div>
                <div style="float:clear;">
                </div>
                <div class="control-group">
                    <div class="controls" id="div_chk_secondary">
                        <label class="checkbox">
                            <input type="checkbox" id="chkSecondary" onclick="secondaryClicked();"> 
                            <span id="spnSecondary">{{ form.send_first_class }}</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>
    <table width="100%">
        <tr>
            <td style="padding-left: 24px;padding-bottom: 24px;"> My Total: $<span id="spnYearlytotal">{{ basic_mail_cost }}</span>/year </td>			  
            <td align="right" style="padding-right: 24px;padding-bottom: 24px;">
                <a id="a_step3" href="return validateStep2();" class="btn btn-primary" onclick="return validateStep2();">Continue to Step 3</a>
            </td>
        </tr>
    </table>

</div>
<!-- Step 2 dialog ends -->

<!-- Step 3 dialog begins -->
<div id="modalStep3" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Join SSCA</h3>
    </div>
    <div class="modal-body">
        <h4>Subscribe to SSCA (Step 3 to 3)</h4>
        <p>Almost done. Decide whether you'd like to fly the SSCA burgee, <br>and provide your payment details to checkout.</p>


        <form name="firstForm" id="step3-form">
            <div class="control-group">
                <div class="controls" style="float:left;">
                    <label class="checkbox">
                        <input type="checkbox" id="chkPurchaseSSCABurgee" onclick="onPurchaseBurgeeChanged();"> Purchase SSCA Burgee &nbsp;&nbsp;&nbsp;
                    </label>
                </div>
                {{ form.burgee_type }} (Add $<span id="spnBurgeeCost">25</span>)
            </div>

            <div class="control-group">
                <div class="controls" style="float:left;width: 150px;">
                    <label class="control-label" for="inputEmail" style="text-align: right;padding-right: 5px;">Name on card:</label>
                </div>
                {{ form.name_on_card }}
            </div>

            <div class="control-group" >
                <div class="controls" style="float:left;width: 150px;">
                    <label class="control-label" for="inputEmail" style="text-align: right;padding-right: 5px;">Credit card type:</label> 
                </div>
                {{ form.card_type }}
            </div>
            <div class="control-group" >
                <div class="controls" style="float:left;width: 150px;">
                    <label class="control-label" for="inputEmail" style="text-align: right;padding-right: 5px;">Credit card number:</label>
                </div>
                {{ form.card_number }}
            </div>

        </form>
        <div class="control-group">
            <form class="form-inline" name="secondForm" id="cal-form">
                <label class="control-label" for="inputEmail">Expiry date: &nbsp;</label>
                <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                    <input class="span2" size="16" type="text" value="" readonly="" name="date">
                    <span class="add-on">
                        <img src="/static/images/calendar.png" alt="calendar" class="icon-calendar" data-date-format="yyyy-mm-dd" data-date="2012-02-20">
                    </span>
                </div>
                &nbsp;&nbsp;
                <label class="control-label" for="inputEmail">CSV: &nbsp;</label>
                {{ form.card_csv }}
            </form>
        </div>
        <table width="100%" cellspacing="2" cellpadding="2" border="0">
            <tr>
                <td width="20%"> <b>My Total: </b></td>
                <td align="left" width="30%"> $<span id="spnYearlytotal1">{{ basic_mail_cost }}</span>/year</td>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" id="chkRenewEveryYear"> Automatically renew every year 
                    </label>
                </td>
            </tr>
            <tr> <td></td>
                <td>
                    <div id="divBurgeeCostBotton" style="border-bottom: dashed 1px black;">
                        $<span id="spnBurgeeCostBottom">25</span> (<span id="spnBurgeeSize"></span>)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr> <td></td>
                <td align="left">$<span id="spnTotalCost"></span> </td>			  
                <td></td>
            </tr>
        </table>
    </div>

    <hr>
    <table width="100%">
        <tr>
            <td align="right" style="padding-right: 24px;padding-bottom: 24px;">
                <a id="a_step4" href="return validateStep3();" class="btn btn-primary" onclick="return validateStep3();">Pay and Login</a>
            </td>
        </tr>
    </table>          
</div>
<!-- Step 3 dialog ends -->

<!-- Step 4 dialog begins -->
<div id="modalStep4" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Thank you</h3>
    </div>
    <div class="control-group" style="padding: 10px; margin: 20px 40px;">
        We have sent an email to <span id="to_email">xxx@yyy.com</span> with a payment receipt,<br>
        and a link to complete the registration process. <br><br>
        <b>IMPORTANT</b> - You must click on the link within 24 hours to activate your account.<br>
        If you do not receive an email within 5 minutes, <br>
        please contact us at office@ssca.org.
    </div>
</div>
<!-- Step 4 dialog ends -->

<!-- modal register openid begins -->
<div id="modalRegisterOpenId" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>OpenId Registration</h3>
    </div>

    <div class="modal-body">
        <h4>Associate an OpenId with your account</h4>
    </div>

    <div class="control-group" style="padding: 10px; margin: 20px;">
        Instead of requiring you to remember yet another username and password, SSCA uses the <a href="" style="color: #003399;">OpenId</a> system.
        When you visit SSCA, we'll request your identity from the provider of your choice for a simple, one-click, secure login process.<br><br>

    To get started, please select which provider you'd like to use. If you do not have an existing account with any of these websites, then choose "Other".
    Other SSCA members will not be able to see which provider you use.<br><br>

    Use my:
    <select id="providers" name="providers_list" style="width: 150px;">
        <option value="{% url socialauth_begin 'google' %}">Google</option>
        <option value="" disabled="disabled">Yahoo</option>
        <option value="" disabled="disabled">AOL</option>
    </select>
    account as my <a href="" style="color: #003399;">OpenId</a><br><br>

    When you click the button below, we'll send you to Google to authenticate. Once you have signed in, you will be redirected back to the SSCA site.

    </div>

    <div class="modal-footer">
        <a href="" style="color: #003399;float: left;">Why OpenId is secure ?</a>
        <a id="" href="" class="btn btn-primary" onclick="return false;">Associate Identity</a>
    </div>
</div>
<!-- modal register openid ends -->
