
{% load dajaxice_templatetags %}
{% dajaxice_js_import 'nocsrf' %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.mask.definitions['~']='[NSns]';
        $.mask.definitions['^']='[EWew]';

        var pattern_extended = '~99 99.99, ^999 99.99';
        var pattern_short = '~99, ^999';
        var coordinates = $('#coordinates');
        var extended_coord = $('#extended').val();
        var short_coord = get_short_location(extended_coord);
        var width = coordinates.css('width');

        coordinates.val(short_coord);

        $("#globe").click(function () {
            alert("clicked on globe");
        });

        onhover = function () {
            $(this).val(extended_coord);
            $(this).mask(pattern_extended, {placeholder: " "});
            $(this).animate({ width: 145 }, 'slow');
        };

        onblur = function () {
            if (extended_coord !== coordinates.val()){
                Dajaxice.app_public.validate_location(callback,{'location':coordinates.val()});
            }else{
                coordinates.animate({ width: width }, 'slow',
                        function() {
                            coordinates.val(short_coord);
                            coordinates.mask(pattern_short, {placeholder: " "});
                        }
                );
            }
        };

        callback = function(resp){
            extended_coord = coordinates.val();
            if (resp.status === 'error'){
                $(".location").css("background-color","#ff6347");
                coordinates.css('background-color','#ff6347');
                coordinates.focus();
            }else{
                short_coord = get_short_location(extended_coord);
                $(".location").css('background-color','#ffffff');
                coordinates.css('background-color','#ffffff');
                coordinates.animate({ width: width }, 'slow',
                        function() {
                            coordinates.val(short_coord);
                            coordinates.mask(pattern_short, {placeholder: " "});
                        }
                );
            }
        }

        onenter = function (event) {
            if (event.which == 13) {
                $(this).blur();
            }
        };

        coordinates.focus(onhover).blur(onblur)
                .keypress(onenter);

    });

    function get_short_location(extended){
        var splited = extended.split(' ');
        return splited[0] +' ' +splited[2];
    }
</script>

<style>

  .location{
      display: inline-block;
  }

  .location #coordinates{
  	border-style:solid;
	border-width:1px;
    border-color: #ffffff;
	vertical-align:middle;
	width: 70px;
    display:inline-block;
  }

  .location #coordinates:hover{
      border-style:solid;
      border-width:1px;
  }
  .location #globe{
  	vertical-align:middle;
  }
 </style>

<div class="location">
    <table>
        <tr>
            <td>
                <img src="/static/images/globe_black.png" id="globe"/>
            </td>
            <td>
                <input type="text" id="coordinates" />
                <input type="hidden" id="extended" value="N12 12 12 W053 41 23"/>
            </td>
        </tr>
    </table>
</div>