<!-- login modal 1 begins -->
<div id="loginModal1" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Login using OpenID</h3>
    </div>
    <div class="control-group" style="margin: 50px 0px;">
        <div class="controls" style="float:left;width: 150px;">
            <label class="control-label" for="signin" style="text-align: right;padding-right: 5px;">Sign in with:</label>
        </div>
        <select>
            <option value="Google">Google</option>
            <option value="Facebook">Facebook</option>
            <option value="Yahoo">Yahoo</option>
            <option value="AOL">AOL</option>
        </select>
    </div>

</div>
<!-- login modal 1 ends -->
