{% block main_menu %}

{% load local_tags %}
<ul class="nav">
    <li ><a href="#">Home</a></li>
    {% for header in MENU_HEADERS %}
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ header }}</b></a>
            <ul class="dropdown-menu">
                {% for sequence in header|get_ordered_pages:request.user %}
                    <li><a tabindex="-1" href="{{ sequence.page.url }}" data-page-type="{{ sequence.page.page_type }}" {% ifequal sequence.page.title "Join/Renew" %}onclick="return showModalStep1();" href="return false;"{% else %}href="{{ sequence.page.url }}"{% endifequal %}>{{ sequence.page.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}

    {% block profile_dropdown %}{% endblock %}
</ul>
{% endblock %}
