{% block main_menu %}

{% load local_tags %}
<ul class="nav">
    <li ><a href="#">Home</a></li>
    {% for header in MENU_HEADERS %}
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ header }}</b></a>
    {% endfor %}
    <!-- <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">About SSCA</b></a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="/officers/" data-page-type="page">Officers, Staff, & Volunteers </a></li>
        <li><a tabindex="-1" href="#">Contact Us</a></li>
        <li><a tabindex="-1" href="/awards/" data-page-type="page">Awards & Recognition</a></li>
        <li><a tabindex="-1" href="/volunteer/" data-page-type="page">Volunteer!</a></li>
        <li><a tabindex="-1" href="/history/" data-page-type="page">History</a></li>
        <li><a tabindex="-1" href="/clean-wakes/" data-page-type="page">About Clean Wakes</a></li>
        <li><a tabindex="-1" href="/ssca-foundation/" data-page-type="page">SSCA Foundation</a></li>
        <li><a tabindex="-1" href="#">SSCA Documents</a></li>
        {% if request.user.is_authenticated %}
            <li><a tabindex="-1" href="#">Logos for Sites & Cards</a></li>
        {% endif %}
        <li><a tabindex="-1" href="/press/" data-page-type="page">Press</a></li>
    </ul>
    </li>
    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Services</b></a>
    <ul class="dropdown-menu">
        {% if request.user.is_authenticated %}
            <li><a tabindex="-1" href="#">Cruising Stations</a></li>
        {% endif %}
        <li><a tabindex="-1" href="/gams/" data-page-type="page">GAMs</a></li>
        <li><a tabindex="-1" href="#">Discussion Forum</a></li>
        <li><a tabindex="-1" href="/projects-initiatives/" data-page-type="page">Projects & Initiatives</a></li>
        <li><a tabindex="-1" href="/southbound/" data-page-type="page">Southbound</a></li>
        <li><a tabindex="-1" href="/cruisers-committee/" data-page-type="page">Concerned Cruiser's Committee</a></li>
        <li><a tabindex="-1" href="/seven-seas-university/" data-page-type="page">Seven Seas University</a></li>
        <li><a tabindex="-1" href="/other-projects/" data-page-type="page">Other Clean Wake Projects</a></li>
        {% if request.user.is_authenticated %}
            <li><a tabindex="-1" href="{% url gmaps_viewer %}" data-page-type="maps">Member Locator</a></li>
        {% endif %}
        <li><a tabindex="-1" href="/resource-links/" data-page-type="page">Resource Links</a></li>
    </ul>
    </li>
    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Publications</a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Bulletins</a></li>
        {% if request.user.is_authenticated %}
            <li><a tabindex="-1" href="#">Port Guides</a></li>
            <li><a tabindex="-1" href="#">Ocean Navigator</a></li>
            <li><a tabindex="-1" href="#">Equipment Survey</a></li>
            <li><a tabindex="-1" href="#">Additional Publications</a></li>
        {% endif %}
        <li><a tabindex="-1" href="#">Published Articles</a></li>
    </ul>
    </li>
    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Membership</b></a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" data-toggle="modal" onclick="return showModalStep1();" href="return false;">Join/Renew</a></li>
        <li><a tabindex="-1" href="/membership-benefits/" data-page-type="page">Membership Benefits</a></li>
        <li><a tabindex="-1" href="/become-a-commodore/" data-page-type="page">Become a Commodore</a></li>
        <li><a tabindex="-1" href="/ssca-foundation/" data-page-type="page">SSCA Foundation</a></li>
        <li><a tabindex="-1" href="/awards/" data-page-type="page">Awards & Recognition</a></li>
        <li><a tabindex="-1" href="/volunteer/" data-page-type="page">Volunteer!</a></li>
        {% if request.user.is_authenticated %}
            <li><a tabindex="-1" href="#">Update Profile</a></li>
            <li><a tabindex="-1" href="{% url gmaps_viewer %}" data-page-type="maps">Member Locator</a></li>
        {% endif %}
        <li><a tabindex="-1" href="#">Administration</a></li>
    </ul>
    </li>
    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Events</b></a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Calendar</a></li>
        <li><a tabindex="-1" href="/gams/" data-page-type="page">GAMs</a></li>
        <li><a tabindex="-1" href="/boat-shows/" data-page-type="page">Boat shows</a></li>
        <li><a tabindex="-1" href="#">Store</a></li>
    </ul>
    </li>
    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Store</a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Apparal</a></li>
        <li><a tabindex="-1" href="#">Gear</a></li>
        <li><a tabindex="-1" href="#">Publications</a></li>
        <li><a tabindex="-1" href="#">Music</a></li>
    </ul>
    </li> -->

    <!-- <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pages</a>
    <ul class="dropdown-menu">
        {% show_ordered_flatpages %}
    </ul>
    </li> -->

    {% block profile_dropdown %}{% endblock %}
</ul>
{% endblock %}
