
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    window.onload = loadScript;

    var markersArray = [];

    function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng({{ gmap.center.0 }}, {{ gmap.center.1 }}),
          zoom: {{ gmap.zoom }},
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        google.maps.event.addListener(map, 'idle', getMarkers);

        function getMarkers() {
            var bounds = map.getBounds();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();
            var boundaries = {
                "north": ne.lat(),
                "south": sw.lat(),
                "east": ne.lng(),
                "west": sw.lng(),
            }

            $.ajax({
                async: false,
                type: "POST",
                url: "{% url gmaps_viewer %}",
                dataType: "json",
                data: boundaries,
                success: function(data) {
                    clearOverlays();
                    deleteOverlays();
                    data.forEach(function(item) {
                        addMarker(
                            new google.maps.LatLng(item.position[0], item.position[1]),
                            item.title,
                            item.is_cluster,
                            item.id
                        );
                    });
                    showOverlays();
                }
            });
        }

        function addMarker(position, title, is_cluster, id) {
            marker = new google.maps.Marker({
                position: position,
                map: map,
            });
            marker.id = id;
            marker.is_cluster = is_cluster;
            markersArray.push(marker);
        }

        // Removes the overlays from the map, but keeps them in the array
        function clearOverlays() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
            }
        }

        // Shows any overlays currently in the array
        function showOverlays() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(map);
                    if (markersArray[i].is_cluster) {
                        google.maps.event.addListener(markersArray[i], 'click', function() {
                        map.setZoom(map.getZoom()+1);
                        map.panTo(this.getPosition());
                        });
                    }
                    else { (function(marker) {
                        google.maps.event.addListener(marker, 'click', function () {
                            $.ajax({
                                async: false,
                                type: "POST",
                                url: "{% url marker_info %}",
                                dataType: "json",
                                data: {
                                    "id": marker.id
                                },
                                success: function (data) {
                                    infowindow = new google.maps.InfoWindow();
                                    infowindow.setContent("Data");
                                    infowindow.open(map, marker);
                                }
                            });
                        });
                    })(markersArray[i]);}
                }
            }
        }

        // Deletes all markers in the array by removing references to them
        function deleteOverlays() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
                markersArray.length = 0;
            }
        }
    };

    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&sensor=true&callback=initialize";
        document.body.appendChild(script);
    }

</script>
<div id="map_canvas" style="width:100%; height:100%"></div>