<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}css/locator.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jstz.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>

<!-- Configuration -->
<script type="text/javascript">
var center_latitude = {{ gmap.center.0 }};
var center_longitude = {{ gmap.center.1 }};
var map_zoom = {{ gmap.zoom }};
var min_zoom = {{ gmap.minzoom }};
var gmaps_viewer = "{% url gmaps_viewer %}";
var marker_info = "{% url marker_info %}";
var member_finder = "{% url member_finder %}";
</script>
<!-- /Configuration -->

<noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b>
    However, it seems JavaScript is either disabled or not supported by your browser.
    To view Google Maps, enable JavaScript by changing your browser options, and then
    try again.
</noscript>

<!-- Google Maps init -->
<script type="text/javascript">
    window.onload = loadScript;

    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&sensor=true&callback=initialize";
        document.body.appendChild(script);
    }
</script>

<div class="content">
    <div id="map-canvas"></div>

    <div class="controls">
        <div class="controls-header">
            <div id="controls-left">Map controls</div>
            <div id="controls-right"><a href="#member_modal" role="button btn-primary" class="btn" data-toggle="modal">Find member</a></div>
        </div>

        <div class="control-buttons">
            <div id="type-filter">
                <input type="checkbox" name="type" value="friends">&nbspMy friends</input><br />
                <input type="checkbox" name="type" value="members">&nbspAll members</input><br />
                <input type="checkbox" name="type" value="guides">&nbspPort Guides</input><br />
                <input type="checkbox" name="type" value="stations">&nbspCruising Stations</input>
            </div>
            <div id="time-filter">
                <input type="radio" name="time" value="current">&nbspLast known locations</input><br />
                <input type="radio" name="time" value="recent">&nbspRecently updated locations</input><br />
                <br />
                Centered on ...coming soon...
            </div>
            <div id="overview_map">
                <div id="overlayMap"></div>
            </div>
        </div>
    </div>

    <div id="member_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="member_label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Members</h3>
        </div>
        <div class="modal-body">
            Search members: <input id="modal_search" type="text" class="memberTypeahead span6 search-query"></input>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <a href="#" id="modal_find" class="btn btn-primary">OK</a>
        </div>
    </div>
</div>