@charset "utf-8";
/* CSS Document */
    /* Large desktop */
    @media (min-width: 1200px !important) { 
	
	}
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
	.container {background: none repeat scroll 0 0 #FFFFFF;width:820px;}
	.con-menu {background:#000;}
	.ss-bottom {float: left;height: auto;width: 790px !important;}
	.ss-botto {border: 1px solid #CCCCCC;border-radius: 10px 10px 10px 10px;float: left;height: 70px;margin: 10px 30px;width: 741px !important;}
.ss-first img {float: left; height: 45px !important;margin: 13px 1px;width: 181px !important;}
.social {float: left;height: inherit;width: 796px !important;}
.search-con {float: right;margin: 92px 14px 0 0 !important;}
.con-right-bottom-con h1 {background: none repeat scroll 0 0 #000000;color: #FFFFFF;float: left;font-family: Arial,Helvetica,sans-serif;font-size: 18px;font-weight: normal;height: 30px;line-height: 30px;padding: 0 0 0 10px;width: 343px !important;}
#warped {position: relative; display: block; width:585px !important; height:auto;}
 #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }
 #warped span{font-family:'ABeeZee';font-size:30px !important;font-weight:regular;font-style:normal;line-height:0.65; white-space:pre; overflow:visible; padding:0px;}
 #warped .w0 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
width: 17px !important; height: 20px !important; left: 34.1px !important; top: 37.25px !important;}
 #warped .w1 {-moz-transform: rotate(-5.9rad);-webkit-transform: rotate(-5.9rad);-o-transform:rotate(-5.9rad);-ms-transform: rotate(-5.9rad); transform: rotate(-5.9rad);
width: 16px !important; height: 20px !important; left: 53.95px !important; top: 45.34px !important;}
#warped .w2 {-moz-transform: rotate(-5.92rad);-webkit-transform: rotate(-5.92rad);-o-transform:rotate(-5.92rad);-ms-transform: rotate(-5.92rad); transform: rotate(-5.92rad);
width: 16px !important; height: 20px !important; left: 73.36px !important; top: 53.02px !important;}
#warped .w3 {-moz-transform: rotate(-5.96rad);-webkit-transform: rotate(-5.96rad);-o-transform:rotate(-5.96rad);-ms-transform: rotate(-5.96rad); transform: rotate(-5.96rad);
width: 16px !important; height: 20px !important; left: 93.63px !important; top: 60.39px !important;}
#warped .w4 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
18px !important; height: 20px !important; left: 113.39px !important; top: 67.04px !important;}
#warped .w5 {-moz-transform: rotate(-6.04rad);-webkit-transform: rotate(-6.04rad);-o-transform:rotate(-6.04rad);-ms-transform: rotate(-6.04rad); transform: rotate(-6.04rad);
width: 9px !important; height: 20px !important; left: 135.39px !important; top: 71.84px !important;}
 #warped .w6 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
 rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
                     width: 17px !important; height: 20px !important; left: 149.47px !important; top: 76px !important;}

                     #warped .w7 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
                     rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
                     width: 16px !important; height: 20px !important; left: 170.9px !important; top: 79.76px !important;}

                     #warped .w8 {-moz-transform: rotate(-6.19rad);-webkit-transform: rotate(-6.19rad);-o-transform:
                     rotate(-6.19rad);-ms-transform: rotate(-6.19rad); transform: rotate(-6.19rad);
                     width: 19px !important; height: 20px !important; left: 192.1px !important; top: 82.59px !important;}

                     #warped .w9 {-moz-transform: rotate(-6.24rad);-webkit-transform: rotate(-6.24rad);-o-transform:
                     rotate(-6.24rad);-ms-transform: rotate(-6.24rad); transform: rotate(-6.24rad);
                     width: 14px !important; height: 20px !important; left: 215.41px !important; top: 84.08px !important;}

                     #warped .w10 {-moz-transform: rotate(-6.28rad);-webkit-transform: rotate(-6.28rad);-o-transform:
                     rotate(-6.28rad);-ms-transform: rotate(-6.28rad); transform: rotate(-6.28rad);
                     width: 9px !important; height: 20px !important; left: 234.85px !important; top: 84.56px !important;}

                     #warped .w11 {-moz-transform: rotate(-6.32rad);-webkit-transform: rotate(-6.32rad);-o-transform:
                     rotate(-6.32rad);-ms-transform: rotate(-6.32rad); transform: rotate(-6.32rad);
                     width: 18px !important; height: 20px !important; left: 248.86px !important; top: 84.39px !important;}

                     #warped .w12 {-moz-transform: rotate(-6.36rad);-webkit-transform: rotate(-6.36rad);-o-transform:
                     rotate(-6.36rad);-ms-transform: rotate(-6.36rad); transform: rotate(-6.36rad);
                     width: 12px !important; height: 20px !important; left: 272.11px !important; top: 83.42px !important;}

                     #warped .w13 {-moz-transform: rotate(-6.39rad);-webkit-transform: rotate(-6.39rad);-o-transform:
                     rotate(-6.39rad);-ms-transform: rotate(-6.39rad); transform: rotate(-6.39rad);
                     width: 18px !important; height: 20px !important; left: 288.48px !important; top: 81.79px !important;}

                     #warped .w14 {-moz-transform: rotate(-6.42rad);-webkit-transform: rotate(-6.42rad);-o-transform:
                     rotate(-6.42rad);-ms-transform: rotate(-6.42rad); transform: rotate(-6.42rad);
                     width: 8px !important; height: 20px !important; left: 311.77px !important; top: 79.67px !important;}

                     #warped .w15 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
                     rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
                     width: 14px !important; height: 20px !important; left: 324.76px !important; top: 77.39px !important;}

                     #warped .w16 {-moz-transform: rotate(-6.46rad);-webkit-transform: rotate(-6.46rad);-o-transform:
                     rotate(-6.46rad);-ms-transform: rotate(-6.46rad); transform: rotate(-6.46rad);
                     width: 8px !important; height: 20px !important; left: 343.27px !important; top: 74.82px !important;}

                     #warped .w17 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
                     rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
                     width: 18px !important; height: 20px !important; left: 356.48px !important; top: 71.4px !important;}

                     #warped .w18 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
                     rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
                     width: 18px !important; height: 20px !important; left: 378.81px !important; top: 66.64px !important;}

                     #warped .w19 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 9px !important; height: 20px !important; left: 400.71px !important; top: 62.54px !important;}

                     #warped .w20 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
                     rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
                     width: 20px !important; height: 20px !important; left: 414.43px !important; top: 57.64px !important;}

                     #warped .w21 {-moz-transform: rotate(-6.57rad);-webkit-transform: rotate(-6.57rad);-o-transform:
                     rotate(-6.57rad);-ms-transform: rotate(-6.57rad); transform: rotate(-6.57rad);
                     width: 14px !important; height: 20px !important; left: 438.61px !important; top: 51.83px !important;}

                     #warped .w22 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
                     rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
                     width: 14px !important; height: 20px !important; left: 459.32px !important; top: 46px !important;}

                     #warped .w23 {-moz-transform: rotate(-6.52rad);-webkit-transform: rotate(-6.52rad);-o-transform:
                     rotate(-6.52rad);-ms-transform: rotate(-6.52rad); transform: rotate(-6.52rad);
                     width: 18px !important; height: 20px !important; left: 477.38px !important; top: 40.98px !important;}

                     #warped .w24 {-moz-transform: rotate(-6.47rad);-webkit-transform: rotate(-6.47rad);-o-transform:
                     rotate(-6.47rad);-ms-transform: rotate(-6.47rad); transform: rotate(-6.47rad);
                     width: 14px !important; height: 20px !important; left: 500.07px !important; top: 36.63px !important;}

                     #warped .w25 {-moz-transform: rotate(-6.43rad);-webkit-transform: rotate(-6.43rad);-o-transform:
                     rotate(-6.43rad);-ms-transform: rotate(-6.43rad); transform: rotate(-6.43rad);
                     width: 8px !important; height: 20px !important; left: 518.63px !important; top: 34.04px !important;}

                     #warped .w26 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
                     rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
                     width: 19px !important; height: 20px !important; left: 532.04px !important; top: 31.82px !important;}

                     #warped .w27 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
                     rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
                     width: 12px !important; height: 20px !important; left: 555.78px !important; top: 30.76px !important;}

                     #warped .w28 {-moz-transform: rotate(-6.24rad);-webkit-transform: rotate(-6.24rad);-o-transform:
                     rotate(-6.24rad);-ms-transform: rotate(-6.24rad); transform: rotate(-6.24rad);
                     width: 8px !important; height: 20px !important; left: 572.65px !important; top: 30.97px !important;}

                     #warped .w29 {-moz-transform: rotate(-6.17rad);-webkit-transform: rotate(-6.17rad);-o-transform:
                     rotate(-6.17rad);-ms-transform: rotate(-6.17rad); transform: rotate(-6.17rad);
                     width: 18px !important; height: 20px !important; left: 585.72px !important; top: 32.43px !important;}

                     #warped .w30 {-moz-transform: rotate(-6.09rad);-webkit-transform: rotate(-6.09rad);-o-transform:
                     rotate(-6.09rad);-ms-transform: rotate(-6.09rad); transform: rotate(-6.09rad);
                     width: 18px !important; height: 20px !important; left: 608.19px !important; top: 35.99px !important;}
.con-right-bottom-con {float: right;height: auto;margin: 10px;width: 340px !important;}
.menu-log {width:150px !important; height:auto; margin:0 0 0 10px !important;}
.nav-tabs > li > a {border-bottom: 1px solid #ccc; border-radius:0px; background:#000; color:#fff;padding: 7px 95px;}
}
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
.menu-log {width:150px !important; height:auto; margin:0 0 0 10px !important;}
.container {background: none repeat scroll 0 0 #FFFFFF !important;width:650px !important;}
.ss-bottom {float: left;height: auto;width:648px;}
.ss-botto {border: 1px solid #CCCCCC;border-radius: 10px 10px 10px 10px;float: left;height: 70px;margin: 10px 30px;width:585px !important;}
.ss-first img {float: left;height: 44px !important;margin: 13px 1px;width: 143px !important;}
.social {float: left;height: inherit;width:638px !important;}
.search-con {float: right;margin:97px 15px 0 0;}
.nav-tabs > li > a {background: none repeat scroll 0 0 #000000;border-bottom: 1px solid #CCCCCC;border-radius: 0 0 0 0;color: #FFFFFF;padding: 7px 37px !important;}
.sub-bottcon {border: 1px solid #CCCCCC;height: 260px;margin: 1% !important;width: 100% !important;}
.sub-price {color: #CC8B4E;float: left;font-size: 42px;margin: 20px 0 0 50px;width: auto;}
.spansa {float: left !important;height: auto;margin: 0 !important;padding: 0;width: auto;}
.con-right-bottom-con {width:540px; height:auto; float:right;  margin:10px;}
.con-right-bottom-con  h1 {width:530px; height:30px; float:left; background:#000; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; line-height:30px; padding:0 0 0 10px; }
.ssibottom { width:380px; height:auto; float:left;}
#warped {position: relative; display: block; width:434px !important; height:auto;}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped span{font-family:'ABeeZee';font-size:20px !important;font-weight:regular;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:
                     rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
                     width: 11px!important; height: 13px!important; left: 37.1px!important; top: 44.25px!important;}

                     #warped .w1 {-moz-transform: rotate(-5.88rad);-webkit-transform: rotate(-5.88rad);-o-transform:
                     rotate(-5.88rad);-ms-transform: rotate(-5.88rad); transform: rotate(-5.88rad);
                     width: 11px!important; height: 13px!important; left: 51.46px!important; top: 50.42px!important;}

                     #warped .w2 {-moz-transform: rotate(-5.88rad);-webkit-transform: rotate(-5.88rad);-o-transform:
                     rotate(-5.88rad);-ms-transform: rotate(-5.88rad); transform: rotate(-5.88rad);
                     width: 11px!important; height: 13px!important; left: 65.98px!important; top: 56.69px!important;}

                     #warped .w3 {-moz-transform: rotate(-5.9rad);-webkit-transform: rotate(-5.9rad);-o-transform:
                     rotate(-5.9rad);-ms-transform: rotate(-5.9rad); transform: rotate(-5.9rad);
                     width: 11px!important; height: 13px!important; left: 80.9px!important; top: 63.01px!important;}

                     #warped .w4 {-moz-transform: rotate(-5.93rad);-webkit-transform: rotate(-5.93rad);-o-transform:
                     rotate(-5.93rad);-ms-transform: rotate(-5.93rad); transform: rotate(-5.93rad);
                     width: 12px!important; height: 13px!important; left: 95.54px!important; top: 69.03px!important;}

                     #warped .w5 {-moz-transform: rotate(-5.98rad);-webkit-transform: rotate(-5.98rad);-o-transform:
                     rotate(-5.98rad);-ms-transform: rotate(-5.98rad); transform: rotate(-5.98rad);
                     width: 6px!important; height: 13px!important; left: 111.76px!important; top: 73.63px!important;}

                     #warped .w6 {-moz-transform: rotate(-6.06rad);-webkit-transform: rotate(-6.06rad);-o-transform:
                     rotate(-6.06rad);-ms-transform: rotate(-6.06rad); transform: rotate(-6.06rad);
                     width: 11px!important; height: 13px!important; left: 122.3px!important; top: 77.23px!important;}

                     #warped .w7 {-moz-transform: rotate(-6.17rad);-webkit-transform: rotate(-6.17rad);-o-transform:
                     rotate(-6.17rad);-ms-transform: rotate(-6.17rad); transform: rotate(-6.17rad);
                     width: 11px!important; height: 13px!important; left: 137.96px!important; top: 79.99px!important;}

                     #warped .w8 {-moz-transform: rotate(-6.28rad);-webkit-transform: rotate(-6.28rad);-o-transform:
                     rotate(-6.28rad);-ms-transform: rotate(-6.28rad); transform: rotate(-6.28rad);
                     width: 12px!important; height: 13px!important; left: 154px!important; top: 81.02px!important;}

                     #warped .w9 {-moz-transform: rotate(-6.36rad);-webkit-transform: rotate(-6.36rad);-o-transform:
                     rotate(-6.36rad);-ms-transform: rotate(-6.36rad); transform: rotate(-6.36rad);
                     width: 9px!important; height: 13px!important; left: 171.1px!important; top: 80.48px!important;}

                     #warped .w10 {-moz-transform: rotate(-6.41rad);-webkit-transform: rotate(-6.41rad);-o-transform:
                     rotate(-6.41rad);-ms-transform: rotate(-6.41rad); transform: rotate(-6.41rad);
                     width: 6px!important; height: 13px!important; left: 185.04px!important; top: 79.26px!important;}

                     #warped .w11 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
                     rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
                     width: 12px!important; height: 13px!important; left: 195.71px!important; top: 77.33px!important;}

                     #warped .w12 {-moz-transform: rotate(-6.48rad);-webkit-transform: rotate(-6.48rad);-o-transform:
                     rotate(-6.48rad);-ms-transform: rotate(-6.48rad); transform: rotate(-6.48rad);
                     width: 8px!important; height: 13px!important; left: 212.83px!important; top: 74.68px!important;}

                     #warped .w13 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
                     rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
                     width: 12px!important; height: 13px!important; left: 225.6px!important; top: 71.73px!important;}

                     #warped .w14 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
                     rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
                     width: 5px!important; height: 13px!important; left: 242.4px!important; top: 68.85px!important;}

                     #warped .w15 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
                     rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
                     width: 9px!important; height: 13px!important; left: 251.67px!important; top: 66.29px!important;}

                     #warped .w16 {-moz-transform: rotate(-6.52rad);-webkit-transform: rotate(-6.52rad);-o-transform:
                     rotate(-6.52rad);-ms-transform: rotate(-6.52rad); transform: rotate(-6.52rad);
                     width: 5px!important; height: 13px!important; left: 265.65px!important; top: 63.49px!important;}

                     #warped .w17 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 12px!important; height: 13px!important; left: 274.9px!important; top: 60.42px!important;}

                     #warped .w18 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 12px!important; height: 13px!important; left: 292.21px!important; top: 56.18px!important;}

                     #warped .w19 {-moz-transform: rotate(-6.5rad);-webkit-transform: rotate(-6.5rad);-o-transform:
                     rotate(-6.5rad);-ms-transform: rotate(-6.5rad); transform: rotate(-6.5rad);
                     width: 6px!important; height: 13px!important; left: 310.19px!important; top: 52.65px!important;}

                     #warped .w20 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
                     rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
                     width: 13px!important; height: 13px!important; left: 321.4px!important; top: 49.94px!important;}

                     #warped .w21 {-moz-transform: rotate(-6.39rad);-webkit-transform: rotate(-6.39rad);-o-transform:
                     rotate(-6.39rad);-ms-transform: rotate(-6.39rad); transform: rotate(-6.39rad);
                     width: 9px!important; height: 13px!important; left: 338.89px!important; top: 47.91px!important;}

                     #warped .w22 {-moz-transform: rotate(-6.34rad);-webkit-transform: rotate(-6.34rad);-o-transform:
                     rotate(-6.34rad);-ms-transform: rotate(-6.34rad); transform: rotate(-6.34rad);
                     width: 9px!important; height: 13px!important; left: 353.32px!important; top: 46.75px!important;}

                     #warped .w23 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
                     rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
                     width: 12px!important; height: 13px!important; left: 367.02px!important; top: 46.27px!important;}

                     #warped .w24 {-moz-transform: rotate(-6.25rad);-webkit-transform: rotate(-6.25rad);-o-transform:
                     rotate(-6.25rad);-ms-transform: rotate(-6.25rad); transform: rotate(-6.25rad);
                     width: 9px!important; height: 13px!important; left: 383.58px!important; top: 46.52px!important;}

                     #warped .w25 {-moz-transform: rotate(-6.21rad);-webkit-transform: rotate(-6.21rad);-o-transform:
                     rotate(-6.21rad);-ms-transform: rotate(-6.21rad); transform: rotate(-6.21rad);
                     width: 5px!important; height: 13px!important; left: 397.88px!important; top: 47.23px!important;}

                     #warped .w26 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
                     rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
                     width: 12px!important; height: 13px!important; left: 407.46px!important; top: 48.46px!important;}

                     #warped .w27 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
                     rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
                     width: 8px!important; height: 13px!important; left: 425.03px!important; top: 50.53px!important;}

                     #warped .w28 {-moz-transform: rotate(-6.11rad);-webkit-transform: rotate(-6.11rad);-o-transform:
                     rotate(-6.11rad);-ms-transform: rotate(-6.11rad); transform: rotate(-6.11rad);
                     width: 5px!important; height: 13px!important; left: 437.68px!important; top: 52.39px!important;}

                     #warped .w29 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
                     rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
                     width: 12px!important; height: 13px!important; left: 446.96px!important; top: 54.89px!important;}

                     #warped .w30 {-moz-transform: rotate(-6.05rad);-webkit-transform: rotate(-6.05rad);-o-transform:
                     rotate(-6.05rad);-ms-transform: rotate(-6.05rad); transform: rotate(-6.05rad);
                     width: 12px!important; height: 13px!important; left: 463.86px!important; top: 58.74px!important;}
					 
.con-menu {background:#000 !important;}
}
  /* Landscape phones and down */
@media (max-width: 480px) { 
.container {background: none repeat scroll 0 0 #FFFFFF;width:410px !important;}
.ss-bottom {float: left;height: auto;width:400px;}
.ss-botto {border: 1px solid #CCCCCC;border-radius: 10px 10px 10px 10px;float: left;height:auto !important ;margin: 10px 30px;width:330px !important;}
.ss-first { width:auto; height:auto; float:left; border-right: none !important}
.ss-first img {float: left;height: auto !important;margin: 13px 68px !important;width: auto !important;}
.social {float: left;height: inherit;width:400px !important;}
#warped {position: relative; display: block; width:239px !important; height:auto !important; margin:0 0 0 44px !important}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped span{font-family:'ABeeZee';font-size:13px !important;font-weight:regular;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-5.77rad);-webkit-transform: rotate(-5.77rad);-o-transform:
                     rotate(-5.77rad);-ms-transform: rotate(-5.77rad); transform: rotate(-5.77rad);
                     width: 0px !important; height: 8px !important; left:0px !important; top: 56.25px !important;}

                     #warped .w1 {-moz-transform: rotate(-5.8rad);-webkit-transform: rotate(-5.8rad);-o-transform:
                     rotate(-5.8rad);-ms-transform: rotate(-5.8rad); transform: rotate(-5.8rad);
                     width: 7px !important; height: 8px !important; left: 11.32px !important; top: 60.28px !important;}

                     #warped .w2 {-moz-transform: rotate(-5.86rad);-webkit-transform: rotate(-5.86rad);-o-transform:
                     rotate(-5.86rad);-ms-transform: rotate(-5.86rad); transform: rotate(-5.86rad);
                     width: 7px !important; height: 8px !important; left: 22.05px !important; top: 65.59px !important;}

                     #warped .w3 {-moz-transform: rotate(-5.92rad);-webkit-transform: rotate(-5.92rad);-o-transform:
                     rotate(-5.92rad);-ms-transform: rotate(-5.92rad); transform: rotate(-5.92rad);
                     width: 6px !important; height: 8px !important; left: 33.08px !important; top: 70.08px !important;}

                     #warped .w4 {-moz-transform: rotate(-5.99rad);-webkit-transform: rotate(-5.99rad);-o-transform:
                     rotate(-5.99rad);-ms-transform: rotate(-5.99rad); transform: rotate(-5.99rad);
                     width: 7px !important; height: 8px !important; left: 43.3px !important; top: 73.8px !important;}

                     #warped .w5 {-moz-transform: rotate(-6.09rad);-webkit-transform: rotate(-6.09rad);-o-transform:
                     rotate(-6.09rad);-ms-transform: rotate(-6.09rad); transform: rotate(-6.09rad);
                     width: 7px !important; height: 8px !important; left: 54.88px !important; top: 76.74px !important;}

                     #warped .w6 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
                     rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
                     width: 4px !important; height: 8px !important; left: 66.82px !important; top: 78.35px !important;}

                     #warped .w7 {-moz-transform: rotate(-6.28rad);-webkit-transform: rotate(-6.28rad);-o-transform:
                     rotate(-6.28rad);-ms-transform: rotate(-6.28rad); transform: rotate(-6.28rad);
                     width: 7px !important; height: 8px !important; left: 75.8px !important; top: 78.94px !important;}

                     #warped .w8 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
                     rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
                     width: 7px !important; height: 8px !important; left: 87.75px !important; top: 78.39px !important;}

                     #warped .w9 {-moz-transform: rotate(-6.47rad);-webkit-transform: rotate(-6.47rad);-o-transform:
                     rotate(-6.47rad);-ms-transform: rotate(-6.47rad); transform: rotate(-6.47rad);
                     width: 7px !important; height: 8px !important; left: 99.76px !important; top: 76.69px !important;}

                     #warped .w10 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 6px !important; height: 8px !important; left: 101.2px !important; top: 74.33px !important;}

                     #warped .w11 {-moz-transform: rotate(-6.56rad);-webkit-transform: rotate(-6.56rad);-o-transform:
                     rotate(-6.56rad);-ms-transform: rotate(-6.56rad); transform: rotate(-6.56rad);
                     width: 4px !important; height: 8px !important; left: 112.16px !important; top: 71.68px !important;}

                     #warped .w12 {-moz-transform: rotate(-6.59rad);-webkit-transform: rotate(-6.59rad);-o-transform:
                     rotate(-6.59rad);-ms-transform: rotate(-6.59rad); transform: rotate(-6.59rad);
                     width: 7px !important; height: 8px !important; left: 120.68px !important; top: 68.71px !important;}

                     #warped .w13 {-moz-transform: rotate(-6.6rad);-webkit-transform: rotate(-6.6rad);-o-transform:
                     rotate(-6.6rad);-ms-transform: rotate(-6.6rad); transform: rotate(-6.6rad);
                     width: 5px !important; height: 8px !important; left: 132.2px !important; top: 65.38px !important;}

                     #warped .w14 {-moz-transform: rotate(-6.6rad);-webkit-transform: rotate(-6.6rad);-o-transform:
                     rotate(-6.6rad);-ms-transform: rotate(-6.6rad); transform: rotate(-6.6rad);
                     width: 7px !important; height: 8px !important; left: 141.52px !important; top: 62.04px !important;}

                     #warped .w15 {-moz-transform: rotate(-6.6rad);-webkit-transform: rotate(-6.6rad);-o-transform:
                     rotate(-6.6rad);-ms-transform: rotate(-6.6rad); transform: rotate(-6.6rad);
                     width: 3px !important; height: 8px !important; left: 153.16px !important; top: 58.93px !important;}

                     #warped .w16 {-moz-transform: rotate(-6.59rad);-webkit-transform: rotate(-6.59rad);-o-transform:
                     rotate(-6.59rad);-ms-transform: rotate(-6.59rad); transform: rotate(-6.59rad);
                     width: 6px !important; height: 8px !important; left: 160.48px !important; top: 56.15px !important;}

                     #warped .w17 {-moz-transform: rotate(-6.58rad);-webkit-transform: rotate(-6.58rad);-o-transform:
                     rotate(-6.58rad);-ms-transform: rotate(-6.58rad); transform: rotate(-6.58rad);
                     width: 3px !important; height: 8px !important; left: 171.24px !important; top: 53.3px !important;}

                     #warped .w18 {-moz-transform: rotate(-6.57rad);-webkit-transform: rotate(-6.57rad);-o-transform:
                     rotate(-6.57rad);-ms-transform: rotate(-6.57rad); transform: rotate(-6.57rad);
                     width: 7px !important; height: 8px !important; left: 188.99px !important; top: 50.43px !important;}

                     #warped .w19 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
                     rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
                     width: 7px !important; height: 8px !important; left: 191.51px !important; top: 46.96px !important;}

                     #warped .w20 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
                     rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
                     width: 4px !important; height: 8px !important; left: 203.45px !important; top: 44.29px !important;}

                     #warped .w21 {-moz-transform: rotate(-6.5rad);-webkit-transform: rotate(-6.5rad);-o-transform:
                     rotate(-6.5rad);-ms-transform: rotate(-6.5rad); transform: rotate(-6.5rad);
                     width: 8px !important; height: 8px !important; left: 212.12px !important; top: 41.82px !important;}

                     #warped .w22 {-moz-transform: rotate(-6.47rad);-webkit-transform: rotate(-6.47rad);-o-transform:
                     rotate(-6.47rad);-ms-transform: rotate(-6.47rad); transform: rotate(-6.47rad);
                     width: 6px !important; height: 8px !important; left: 224.64px !important; top: 39.46px !important;}

                     #warped .w23 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
                     rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
                     width: 6px !important; height: 8px !important; left: 235.34px !important; top: 37.62px !important;}

                     #warped .w24 {-moz-transform: rotate(-6.4rad);-webkit-transform: rotate(-6.4rad);-o-transform:
                     rotate(-6.4rad);-ms-transform: rotate(-6.4rad); transform: rotate(-6.4rad);
                     width: 7px !important; height: 8px !important; left: 246.67px !important; top: 36.04px !important;}

                     #warped .w25 {-moz-transform: rotate(-6.35rad);-webkit-transform: rotate(-6.35rad);-o-transform:
                     rotate(-6.35rad);-ms-transform: rotate(-6.35rad); transform: rotate(-6.35rad);
                     width: 6px !important; height: 8px !important; left: 258.51px !important; top: 35.05px !important;}

                     #warped .w26 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
                     rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
                     width: 3px !important; height: 8px !important; left: 269.23px !important; top: 34.73px !important;}

                     #warped .w27 {-moz-transform: rotate(-6.23rad);-webkit-transform: rotate(-6.23rad);-o-transform:
                     rotate(-6.23rad);-ms-transform: rotate(-6.23rad); transform: rotate(-6.23rad);
                     width: 7px !important; height: 8px !important; left: 277.02px !important; top: 34.95px !important;}

                     #warped .w28 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
                     rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
                     width: 5px !important; height: 8px !important; left: 289.19px !important; top: 36.09px !important;}

                     #warped .w29 {-moz-transform: rotate(-6.04rad);-webkit-transform: rotate(-6.04rad);-o-transform:
                     rotate(-6.04rad);-ms-transform: rotate(-6.04rad); transform: rotate(-6.04rad);
                     width: 3px !important; height: 8px !important; left: 299.09px !important; top: 37.89px !important;}

                     #warped .w30 {-moz-transform: rotate(-5.91rad);-webkit-transform: rotate(-5.91rad);-o-transform:
                     rotate(-5.91rad);-ms-transform: rotate(-5.91rad); transform: rotate(-5.91rad);
                     width: 7px !important; height: 8px !important; left: 306.55px !important; top: 40.94px !important;}

                     #warped .w31 {-moz-transform: rotate(-5.74rad);-webkit-transform: rotate(-5.74rad);-o-transform:
                     rotate(-5.74rad);-ms-transform: rotate(-5.74rad); transform: rotate(-5.74rad);
                     width: 7px !important; height: 8px !important; left: 317.21px !important; top: 46.28px !important;}

.logo-left img {width:85px; height:71px; position:absolute; left:70px; }
.con-right-bottom-con {width:318px; height:auto; float:right;  margin:10px;}
.con-right-bottom-con  h1 {width:318px; height:30px; float:left; background:#000; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; line-height:30px; padding:0 0 0 10px; }
.ssibottom { width:330px; height:auto; float:left;}
.menu-log {width:110px !important; height:auto; margin:5px 0 0 10px !important;}
.sub-rigtxt {float: left;height: auto;margin: 30px 0 0 69px !important;width: auto;}
.tab-content {overflow: hidden ;}
.sub-bottcon {border: 1px solid #CCCCCC;height: 260px;margin: 1% !important;width: 100% !important; float:left !important;}	
.nav-tabs > li > a {background: none repeat scroll 0 0 #000000;border-bottom: 1px solid #CCCCCC;border-radius: 0 0 0 0;color: #FFFFFF;font-size: 11px !important;padding: 7px 4px !important;}
.sub-leftcon h2 {border: medium none; color: #CCCCCC; font-size: 75px;font-weight: normal;margin: 30px 0 0 63px !important;}
	
	}
