{% extends "base.html" %}
{% load local_tags %}

{% block title %} Welcome to the Dashboard {% endblock %}
 
<!--
    <header>
        <h1>Welcome to the Dashboard. </h1> 
        <span>Want to logout ? <a href="/logout/">Click here</a></span>
    </header>
 
    <section>
        <p>Items to be added here. Cool!</p>
    </section>
-->

{% block content %}

<div class="content_wrapper">
    <div class="hero-unit" style="padding: 2px; margin-bottom: 2px;">
        <div class="row-fluid" style="border: solid 0px blue;">
            <div class="span12">
                <div class="row-fluid">

                    {% block main_content %}
                    <div class="span9 homae-rig">
                        <h1>WELCOME TO SSCA</h1>
                        <p> Content will come here... </p>
                    </div>
                    {% endblock %}

                    {% block events %}
                        <div class="span3">
                            <div class="row-fluid" style="border: solid 0px red;">
                                <div class="span12 input-append" style="border: 0px solid black; height: 25px;">
                                    <div style="margin-top: 20px;">
                                        <form class="navbar-search">
                                            <input type="text" class="search-query span12" placeholder="Search" style="background-color: white; border: 1px solid #ccc;">
                                            <div class="icon-search"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!-- TODO: Transfer inline styles to external later -->
                            <div style="height: 130px; margin-right: 13px; border: 3px dashed #F8F3EA;">
                            </div>

                            <div class="clearfix">&nbsp;</div>

                            <div style="height: 130px; margin-right: 13px; border: 3px dashed #F8F3EA;">
                            </div>

                            <div class="clearfix">&nbsp;</div>

                            <div style="height: 130px; margin-right: 13px; border: 3px dashed #F8F3EA;">
                            </div>

                        </div>
                        
                    <!-- <div class="span5">
                        <div class="row-fluid">
                        <div class="con-right-bottom-con span12">
                        </div>
                    </div>
                    </div> -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}    

